<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="icon" sizes="180x180" href="../static/assets/images/icon.ico">
  <link href="../static/assets/images/icon.ico" rel="icon">




  <title>PythonCoding</title>  

<link href="../static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="minimal">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  
    
   <nav class="navbar navbar-inner transparent navbar-default navbar-fixed-top">
   
    <div class="container" >
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collaspe navbar-collapse" id="navbar-collapse" >
        <ul class="nav navbar-nav " >
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            02 : Programs</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <ul><a class="" href="#">ML Projects </a></ul>
              <ul><a class="dropdown-item" href="#">Code </a></ul>
              <ul class="dropdown-divider"></ul>
              <ul><a class="dropdown-item" href="#"> For Fun </a></ul>
              <ul><a class="dropdown-item" href="#"> Python Hacks </a></ul>
            </div>
            </li>
          
<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            03 : Games</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <ul><a class="" href="../games/animie_maker.html">Animie  </a></ul>
              <ul><a class="dropdown-item" href="#">Contra</a></ul>
              <ul class="dropdown-divider"></ul>
              <ul><a class="dropdown-item" href="#"> mario</a></ul>
            </div>
            </li>          
            <li><a href="./abt.html" title="">04 : About</a></li>
          <li><a href="./contact.html" title="">05 : Contact</a></li>
          <li><a href="./blog.html" title="">06 : Blog</a></li>


        </ul>


      </div> 
    </div>
  </nav>
</header>
  <div class="hero-full-container background-image-container white-text-container" style="background-image: url('../static/assets/images/0.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-xs-120">
          <div class="hero-full-wrapper">
            <div class="text-content">
              <h1>Hello,<br>
                <span id="typed-strings">
                  <span>Python Fans</span>
                  <span>Feel Free To Browse snakecoding</span>
                  <span>Python Rocks</span>
                  <span>:) :D</span>
                </span>
                <span id="typed"></span>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     type();
     movingBackgroundImage();
  });
</script>


<script type="text/javascript" src="../static/main.70a66962.js"></script></body>

</html>